<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="science.mengxin.android.busydroid.feature">

    <application
            android:allowBackup="false"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".HomeActivity"
                android:label="@string/title_activity_home"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                        android:host="android.mengxin.science"
                        android:pathPattern="/.*"
                        android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".IMEDemo"
                android:label="@string/title_activity_imedemo"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ContainersSampler"
                android:label="@string/title_activity_containers_sampler"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>